

#portfolio{

	.hero {
	//	//min-height: 256px;
	//	max-height: 24vh;
	//	//width: 100vw;
	//	//margin-top: 10em;
		overflow: hidden;

		.hero-body {

			&:hover {
				.show-more {
					opacity: 1;
				}
				.container{
					background-size: 100%;
					-webkit-filter: grayscale(0%);
				}
			}
			.container{
				border:	1px solid grey;
				background-position: center center;
				background-size: 150%;
				-webkit-filter: grayscale(50%);
				transition: all .3s ease-in-out
				//filter: gray;
			}

			& .title,
			& .subtitle
			{
				color:white;
			}
		}

		.show-more {
			opacity: 0;
		}
	}
	.portfolio-detail{

		max-height: 1px;
		transition: max-height 1s;



		&.selected{
			height: auto;
			max-height: 2048px;
			//border:	1px solid green;
			//padding:	2em;
			padding-bottom:	4em;
		}

		.title{
			//padding: 2em;
		}
		.column{
			/*border: 1px solid blue;*/
		}
		.image{
			//min-height:	100px;
			height:	20vh;
			background-size:     cover;                      /* <------ */
			background-repeat:   no-repeat;
			background-position: center center;              /* optional, center the image */
			border:	1px solid lightgrey;
		}

	}

}
